* {
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #e5fff6;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.genius {
  background-color: #000;
  border-radius: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: 'green-area red-area'
                       'yellow-area blue-area';
  height: 40rem;
  padding: 2rem;
  width: 40rem;
}

.console {
  align-items: center;
  background-color: #fff;
  border: 2rem solid #000;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  height: 15rem;
  justify-content: center;
  padding: .25rem;
  width: 15rem;
}

.console-top,
.console-bottom {
  align-items: center;
  display: flex;
  height: 7.5rem;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  
}

.console-top {
  background-color: #000;
  color: #fff;
  border-top-left-radius: 7.5rem;
  border-top-right-radius: 7.5rem;
}

.game-title {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.console-bottom {
  background-color: green;
  cursor: pointer;
  color: #7e7e7e;
  border-bottom-left-radius: 7.5rem;
  border-bottom-right-radius: 7.5rem;
  font-size: 1.5rem;
}

.console-bottom:hover {
  background-color: #013f01;
  color: greenyellow;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
  grid-area: green-area;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
  grid-area: red-area;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
  grid-area: blue-area;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
  grid-area: yellow-area;
}

.green, .red, .blue, .yellow {
  opacity: .4;
}

.selected {
  opacity: 1;
}